@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 4

   Roads Not Taken Audio Styles
   Author: Jacob West
   Date:   03/24/20

   Filename: rnt_audio.css

*/

/* Audio Styles */
audio {
    display: block;
    box-shadow: darkgray 8px 8px 15px;
    margin: 20px auto 20px auto;
    width: 80%;
}

audio::-webkit-media-controls-panel {
    background: rgb(128, 128, 255);
}
